/* === Flex Values ===
flex: 0 auto;  same as initial (default) value
flex: initial; equivalent to '0 1 auto' and sizes flex item based on 'width/height' properties
  Allows item to shrink but not grow. Makes the flex item inflexible when there is positive free
  space, but allows it to shrink to its minimum when there is insufficient space. The alignment
  abilities or ‘auto’ margins can be used to align flex items along the main axis. 
flex: auto;    equivalent to '1 1 auto' Sizes the item based on the ‘width’/‘height’ properties,
  but makes them fully flexible, so that they absorb any free space along the main axis. If all
  items are either ‘flex: auto’, ‘flex: initial’, or ‘flex: none’, any positive free space after
  the items have been sized will be distributed evenly to the items with ‘flex: auto’. 
flex: none;    equivalent to '0 0 auto'. This value sizes the item according to the ‘width’/‘height’
  properties, but makes the flex item fully inflexible. This is similar to ‘initial’, except that
  flex items are not allowed to shrink, even in overflow situations.
flex: <number>; equivalent to '<number> 1 0px'. Makes the flex item flexible and sets the flex basis
  to zero, resulting in an item that receives the specified proportion of the free space in the flex
  container. If all items in the flex container use this pattern, their sizes will be proportional
  to the specified flex factor. 
*/

body { 
  margin: 50px auto 40px; /* top left/right bottom */
  max-width: 74em;
  color: #fff; /* fff */
  background-color: #333; /* 333 */
}
article, aside, figure, footer, header, hgroup, menu, nav, section { 
  display:block;
}
#main {
  display: flex;
}
.content {
  flex: 1;  /* Fills content to rest of container width */
  order: 1; /* Moves #content after aside */
  margin-left: 3em;
}
/*.content h1 {
  color: #FCC20C;
}*/
aside {
  background: url(../images/767_background_1.png) #000 repeat-y;
  width: 295px;
  /* width: 16em; */
  text-align: center;
  margin-top: 1em;
  
}
article h1 {
  margin-top: 0;
}

aside p {
  padding-left: 1em;
  padding-right: 1em;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none; /* remove bullets */
  min-width: min-content; /* Don't overflow */
}
/*nav a {
  color: #fff;
  text-decoration: none; /* remove underlines /
  padding: 1em;
  
  background: #000;
}*/

a, .red {
  color: red;
}

/* http://devgrow.com/super-simple-css-buttons/ */
.button {
   padding: 5px 10px;
   background: #666;
   border: none;
   color: white;
   font-weight: bold;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-shadow: 1px 1px #555;
   /*font-family: Georgia, serif;*/
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   background-position: 0 -48px;
   }
.button:active {
   background-position: 0 top;
   position: relative;
   top: 1px;
   padding: 6px 10px 4px;
}
@media all and (min-width: 800px) {
  .content {
    margin-left: 3em;
    margin-right: 4%;
  }
}
@media all and (max-width: 799px) {
  #main { flex-flow: column; }
  .content, aside { 
    order: 0;
    width: auto;
    margin: auto;
    background: none #333 no-repeat;
  }
  nav ul {
    flex-flow: column;
    min-height: 200px;
  }
  .content img {
    display: none;
  }
}