  <header>
    <h1>CrossFit <span class="red">OTS3</span></h1>
    <p>Only The Strong Shall Survive</p>
    <div class="top_contact">
      <p><a href="tel:817-726-7808">817-726-7808</a></p>
      <p><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#106;&#097;&#115;&#111;&#110;&#064;&#099;&#114;&#111;&#115;&#115;&#102;&#105;&#116;&#111;&#116;&#115;&#051;&#046;&#099;&#111;&#109;">&#106;&#097;&#115;&#111;&#110;&#064;&#099;&#114;&#111;&#115;&#115;&#102;&#105;&#116;&#111;&#116;&#115;&#051;&#046;&#099;&#111;&#109;</a></p>
    </div>
  </header>

  <nav role="navigation" class="main-nav">
    <ul class="main-nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/our-community/">Our Community <span class="caret"></a>
      <div>
      <ul>
        <li><a href="/coaches/">Our Coaches</a></li>
        <li><a href="/location/">Location</a></li>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
      </div>
      </li>
      <li><a href="/pricing-and-services/">Pricing and Services <span class="caret"></a>
      <div>
      <ul>
        <li><a href="/what-is-crossfit/">What is CrossFit?</a></li>
        <li><a href="/pricing-and-services/">Pricing and Services</a></li>
        <li><a href="/zone-nutrition/">Zone Nutrition</a></li>
        <li><a href="/paleo-lifestyle/">Paleo Lifestyle</a></li>
      </ul>
      </div>
      </li>
      <li><a href="/schedule/">Schedule</a></li>
      <li><a href="/todays-wod/">Today's WOD</a></li>
    </ul>
  </nav>
